  #Prohibir acceso a directorios
Options All -Indexes
  #Activar reescritura
RewriteEngine On
  #Reescribir la variable GET página para lograr URL's más amigables
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?pagina=$1 [L]
