  #Prohibir acceso a directorios
Options All -Indexes
  #Activar reescritura
RewriteEngine On
  #Reescribir la variable GET página para lograr URL's más amigables
RewriteRule ^(.*)$ index.php?pagina=$1 [QSA,L]
